* {

	margin: 0px;
	padding:0px;
}


.logo img {

	width: 60px;
	

}
nav {

	background: #1D140D;
	display: flex; 
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;

}




.logoBtn {

	    background: #1D140D;
	    display: flex; 
	    justify-content: space-between;
	    align-items: center;
	    

	

}


ul {

	list-style: none;
	display: flex; 

}


ul li a{

	background: #1D140D;
	display: block;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	transition:all 0.5s ease;
	font-size: 28px;

}



ul li a:hover{

	background: #00BFFF;
	padding-left: 10px;
	
}





